.image-container {
  width: 200px;
  height: 250px;

  img {
    width: 200px;
    height: 200px;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  @media (max-width: 1000px) {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
