@import url('https://fonts.googleapis.com/css?family=Lobster|Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
